<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.adapterFactories">
      <factory
            class="ac.soton.multisim.provider.MultisimItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ac.soton.multisim.ui.tester.MultisimViewPropertyTester"
            id="ac.soton.multisim.ui.multisimViewPropertyTester"
            namespace="ac.soton.multisim.ui.test"
            properties="isDiagram"
            type="org.eclipse.gmf.runtime.notation.View">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.DisplayComponentEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="DisplayComponentEditPart"></context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.DisplayComponentEditPart(ac.soton.multisim.diagram)"
               id="DisplayComponentEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.DisplayPortEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="DisplayPortEditPart">
         </context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.DisplayPortEditPart(ac.soton.multisim.diagram)"
               id="DisplayPortEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.ComponentDiagramEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="ComponentDiagramEditPart">
         </context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.ComponentDiagramEditPart(ac.soton.multisim.diagram)"
               id="ComponentDiagramEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.PortEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="EventBInputPortEditPart,EventBOutputPortEditPart,FMUInputPortEditPart,FMUOutputPortEditPart,DisplayPortEditPart"></context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.DisplayPortEditPart(ac.soton.multisim.diagram)"
               id="DisplayPortEditPart">
         </object>
         <object
               class="ac.soton.multisim.diagram.edit.parts.EventBInputPortEditPart(ac.soton.multisim.diagram)"
               id="EventBInputPortEditPart">
         </object>
         <object
               class="ac.soton.multisim.diagram.edit.parts.EventBOutputPortEditPart(ac.soton.multisim.diagram)"
               id="EventBOutputPortEditPart">
         </object>
         <object
               class="ac.soton.multisim.diagram.edit.parts.FMUInputPortEditPart(ac.soton.multisim.diagram)"
               id="FMUInputPortEditPart">
         </object>
         <object
               class="ac.soton.multisim.diagram.edit.parts.FMUOutputPortEditPart(ac.soton.multisim.diagram)"
               id="FMUOutputPortEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.PopupBarEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="ComponentDiagramEditPart,EventBComponentEditPart,FMUComponentEditPart,DisplayComponentEditPart">
         </context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.ComponentDiagramEditPart(ac.soton.multisim.diagram)"
               id="ComponentDiagramEditPart">
         </object>
         <object
               class="ac.soton.multisim.diagram.edit.parts.DisplayComponentEditPart(ac.soton.multisim.diagram)"
               id="DisplayComponentEditPart">
         </object>
         <object
               class="ac.soton.multisim.diagram.edit.parts.FMUComponentEditPart(ac.soton.multisim.diagram)"
               id="FMUComponentEditPart">
         </object>
         <object
               class="ac.soton.multisim.diagram.edit.parts.EventBComponentEditPart(ac.soton.multisim.diagram)"
               id="EventBComponentEditPart">
         </object>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ac.soton.multisim.ui.navigator.MultisimDiagramNavigatorContentProvider"
            icon="icons/ComponentDiagram.gif"
            id="ac.soton.multisim.ui.navigator.content"
            labelProvider="ac.soton.multisim.diagram.navigator.MultisimNavigatorLabelProvider"
            name="Multisim Diagram"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="ac.soton.multisim.diagram.navigator.MultisimAbstractNavigatorItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="ac.soton.multisim.diagram.navigator.MultisimAbstractNavigatorItem">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="ac.soton.multisim.diagram.navigator.MultisimNavigatorSorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="ac.soton.multisim.ui.navigator.MultisimDiagramNavigatorActionProvider"
            id="ac.soton.multisim.ui.navigator.diagramActionProvider">
         <enablement>
            <and>
               <instanceof
                     value="ac.soton.multisim.diagram.navigator.MultisimAbstractNavigatorItem">
               </instanceof>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.View">
                  <test
                        property="ac.soton.multisim.ui.test.isDiagram">
                  </test>
               </adapt>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ac.soton.multisim.ui.navigator.EventBComponentNavigatorActionProvider"
            id="ac.soton.multisim.ui.navigator.eventbActionProvider">
         <enablement>
            <adapt
                  type="org.eclipse.emf.ecore.EObject">
               <instanceof
                     value="ac.soton.multisim.EventBComponent">
               </instanceof>
            </adapt>
         </enablement>
      </actionProvider>
      <commonWizard
            type="new"
            wizardId="ac.soton.multisim.diagram.part.MultisimCreationWizardID">
         <enablement></enablement>
      </commonWizard>
      <navigatorContent
            contentProvider="ac.soton.multisim.ui.navigator.FMUNavigatorContentProvider"
            icon="icons/FMU.png"
            id="ac.soton.multisim.ui.navigator.content.fmu"
            labelProvider="ac.soton.multisim.ui.navigator.FMUNavigatorLabelProvider"
            name="FMU File"
            priority="low">
         <triggerPoints>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="ac.soton.multisim.ui.navigator.FMUNavigatorActionProvider"
            id="ac.soton.multisim.ui.navigator.fmuActionProvider">
         <enablement>
            <instanceof
                  value="ac.soton.multisim.util.FMUResource">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.multisim.ui.navigator.content">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.multisim.ui.navigator.content.fmu">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.multisim.diagram.navigatorActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.multisim.ui.navigator.diagramActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.multisim.ui.navigator.eventbActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.multisim.ui.navigator.fmuActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ac.soton.multisim.ui.contribution.fmuEditPart"
            objectClass="ac.soton.multisim.diagram.edit.parts.FMUComponentEditPart">
         <action
               class="ac.soton.multisim.ui.actions.SetParametersAction"
               icon="icons/Parameters.png"
               id="ac.soton.multisim.ui.action.setParameters"
               label="&amp;Parameters">
         </action>
         <action
               class="ac.soton.multisim.ui.actions.ShowFMUFileAction"
               icon="icons/gotoobj_tsk.gif"
               id="ac.soton.multisim.ui.action.ShowInExplorer"
               label="Show FMU In Explorer">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ac.soton.multisim.ui.contribution.eventbEditPart"
            objectClass="ac.soton.multisim.diagram.edit.parts.EventBComponentEditPart">
         <action
               class="ac.soton.multisim.ui.actions.OpenMachineAction"
               icon="icons/Machine.png"
               id="ac.soton.multisim.ui.action.openMachine"
               label="&amp;Machine">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="ac.soton.multisim.ui.providers.SimulationStateSourceProvider">
         <variable
               name="ac.soton.multisim.state.simulating"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ac.soton.multisim.ui.commands"
            name="Multisim Commands">
      </category>
      <command
            categoryId="ac.soton.multisim.ui.commands"
            id="ac.soton.multisim.ui.command.validate"
            name="Validate">
      </command>
      <command
            categoryId="ac.soton.multisim.ui.commands"
            id="ac.soton.multisim.ui.command.simulate"
            name="Simulate">
      </command>
      <command
            id="ac.soton.multisim.ui.command1"
            name="Test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ac.soton.multisim.ui.toolbar"
               label="Multisim Toolbar">
            <command
                  commandId="ac.soton.multisim.ui.command.validate"
                  icon="icons/Validate.png"
                  label="Validate"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="ac.soton.multisim.diagram.part.MultisimDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ac.soton.multisim.ui.command.simulate"
                  icon="icons/Simulate.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="ac.soton.multisim.diagram.part.MultisimDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.multisim.ui.commands.ValidateCommandHandler"
            commandId="ac.soton.multisim.ui.command.validate">
         <activeWhen>
            <with
                  variable="ac.soton.multisim.state.simulating">
               <equals
                     value="F">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ac.soton.multisim.ui.commands.SimulateCommandHandler"
            commandId="ac.soton.multisim.ui.command.simulate">
         <activeWhen>
            <with
                  variable="ac.soton.multisim.state.simulating">
               <equals
                     value="F">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
