<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.adapterFactories">
      <factory
            class="ac.soton.multisim.provider.MultisimItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ac.soton.multisim.ui.navigator.MultisimDiagramNavigatorContentProvider"
            icon="icons/ComponentDiagram.gif"
            id="ac.soton.multisim.ui.navigator.content"
            labelProvider="ac.soton.multisim.diagram.navigator.MultisimNavigatorLabelProvider"
            name="Multisim Diagram"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="ac.soton.multisim.diagram.navigator.MultisimAbstractNavigatorItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="ac.soton.multisim.diagram.navigator.MultisimAbstractNavigatorItem">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="ac.soton.multisim.diagram.navigator.MultisimNavigatorSorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="ac.soton.multisim.ui.navigator.MultisimDiagramNavigatorActionProvider"
            id="ac.soton.multisim.ui.navigator.diagramActionProvider">
         <enablement>
            <and>
               <instanceof
                     value="ac.soton.multisim.diagram.navigator.MultisimAbstractNavigatorItem">
               </instanceof>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.View">
                  <test
                        property="ac.soton.multisim.ui.test.isDiagram">
                  </test>
               </adapt>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ac.soton.multisim.ui.navigator.EventBComponentNavigatorActionProvider"
            id="ac.soton.multisim.ui.navigator.eventbActionProvider">
         <enablement>
            <adapt
                  type="org.eclipse.emf.ecore.EObject">
               <instanceof
                     value="ac.soton.multisim.EventBComponent">
               </instanceof>
            </adapt>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.multisim.ui.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.multisim.diagram.navigatorActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.multisim.ui.navigator.diagramActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.multisim.ui.navigator.eventbActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ac.soton.multisim.ui.tester.MultisimViewPropertyTester"
            id="ac.soton.multisim.ui.multisimViewPropertyTester"
            namespace="ac.soton.multisim.ui.test"
            properties="isDiagram"
            type="org.eclipse.gmf.runtime.notation.View">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.DisplayComponentEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="DisplayComponentEditPart"></context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.DisplayComponentEditPart(ac.soton.multisim.diagram)"
               id="DisplayComponentEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.DisplayPortEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="DisplayPortEditPart">
         </context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.DisplayPortEditPart(ac.soton.multisim.diagram)"
               id="DisplayPortEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="ac.soton.multisim.ui.providers.ComponentDiagramEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="ComponentDiagramEditPart">
         </context>
         <object
               class="ac.soton.multisim.diagram.edit.parts.ComponentDiagramEditPart(ac.soton.multisim.diagram)"
               id="ComponentDiagramEditPart">
         </object>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ac.soton.multisim.ui.contribution.fmuEditPart"
            objectClass="ac.soton.multisim.diagram.edit.parts.FMUComponentEditPart">
         <action
               class="ac.soton.multisim.ui.actions.SetParametersAction"
               icon="icons/Parameters.png"
               id="ac.soton.multisim.ui.action.setParameters"
               label="&amp;Parameters">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ac.soton.multisim.ui.contribution.eventbEditPart"
            objectClass="ac.soton.multisim.diagram.edit.parts.EventBComponentEditPart">
         <action
               class="ac.soton.multisim.ui.actions.OpenMachineAction"
               icon="icons/Machine.png"
               id="ac.soton.multisim.ui.action.openMachine"
               label="&amp;Machine">
         </action>
      </objectContribution>
   </extension>

</plugin>
