<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ac.soton.rms.ui.commands"
            name="RMS UI Commands">
      </category>
      <command
            categoryId="ac.soton.rms.ui.commands"
            id="ac.soton.rms.ui.commands.simulate"
            name="Simulate">
         <commandParameter
               id="ac.soton.rms.ui.parameters.checkInvariants"
               name="Invariants"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ac.soton.rms.ui.parameters.recordTrace"
               name="Record Trace"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ac.soton.rms.ui.parameters.compareTrace"
               name="Compare Trace"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="ac.soton.rms.ui.commands"
            id="ac.soton.rms.ui.commands.pause"
            name="Pause">
      </command>
      <command
            categoryId="ac.soton.rms.ui.commands"
            id="ac.soton.rms.ui.commands.validate"
            name="Validate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ac.soton.rms.ui.toolbar"
               label="RMS Toolbar">
            <command
                  commandId="ac.soton.rms.ui.commands.validate"
                  icon="icons/Validate.gif"
                  label="Validate"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="ac.soton.rms.components.diagram.part.ComponentsDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ac.soton.rms.ui.commands.simulate"
                  icon="icons/Simulate.gif"
                  id="ac.soton.rms.ui.commands.toolbar.simulate"
                  label="Simulate"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="ac.soton.rms.components.diagram.part.ComponentsDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ac.soton.rms.ui.commands.pause"
                  icon="icons/Pause.gif"
                  label="Pause"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="ac.soton.rms.components.diagram.part.ComponentsDiagramEditorID">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ac.soton.rms.ui.commands.toolbar.simulate">
         <command
               commandId="ac.soton.rms.ui.commands.simulate"
               label="Simulate"
               style="push">
         </command>
         <command
               commandId="ac.soton.rms.ui.commands.simulate"
               label="Record Trace"
               style="push">
            <parameter
                  name="ac.soton.rms.ui.parameters.recordTrace"
                  value="true">
            </parameter>
         </command>
         <command
               commandId="ac.soton.rms.ui.commands.simulate"
               label="Compare Trace"
               style="push">
            <parameter
                  name="ac.soton.rms.ui.parameters.compareTrace"
                  value="true">
            </parameter>
         </command>
         <command
               commandId="ac.soton.rms.ui.commands.simulate"
               label="Check Invariants"
               style="push">
            <parameter
                  name="ac.soton.rms.ui.parameters.checkInvariants"
                  value="true">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.rms.ui.commands.SimulateCommand"
            commandId="ac.soton.rms.ui.commands.simulate">
         <activeWhen>
            <with
                  variable="ac.soton.rms.ui.commands.simulation.active">
               <equals
                     value="INACTIVE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ac.soton.rms.ui.commands.PauseCommand"
            commandId="ac.soton.rms.ui.commands.pause">
         <activeWhen>
            <with
                  variable="ac.soton.rms.ui.commands.simulation.active">
               <equals
                     value="ACTIVE">
               </equals>
            </with></activeWhen>
      </handler>
      <handler
            class="ac.soton.rms.ui.commands.ValidateCommand"
            commandId="ac.soton.rms.ui.commands.validate">
         <activeWhen>
            <with
                  variable="ac.soton.rms.ui.commands.simulation.active">
               <equals
                     value="INACTIVE">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="ac.soton.rms.ui.commands.SimulationState">
         <variable
               name="ac.soton.rms.ui.commands.simulation.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ac.soton.rms.ui.contributions.fmuComponent"
            objectClass="ac.soton.rms.components.diagram.edit.parts.FMUComponentEditPart">
         <action
               class="ac.soton.rms.ui.actions.SetParameters"
               enablesFor="1"
               icon="icons/Parameters.png"
               id="ac.soton.rms.ui.actions.setParameters"
               label="&amp;Parameters">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ac.soton.rms.ui.contributions.eventBComponent"
            objectClass="ac.soton.rms.components.diagram.edit.parts.EventBComponentEditPart">
         <action
               class="ac.soton.rms.ui.actions.OpenMachine"
               icon="icons/Machine.png"
               id="ac.soton.rms.ui.actions.openMachine"
               label="&amp;Machine">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.rms.ui.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.rms.components.diagram.navigatorActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.rms.ui.navigator.actions.diagram">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.rms.ui.navigator.actions.eventb">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ac.soton.rms.components.ui.navigator.ComponentsDiagramNavigatorContentProvider"
            id="ac.soton.rms.ui.navigator.content"
            labelProvider="ac.soton.rms.components.diagram.navigator.ComponentsNavigatorLabelProvider"
            name="Components Diagram"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="ac.soton.rms.components.diagram.navigator.ComponentsAbstractNavigatorItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="ac.soton.rms.components.diagram.navigator.ComponentsAbstractNavigatorItem">
               </instanceof>
            </or></possibleChildren>
         <commonSorter
               class="ac.soton.rms.components.diagram.navigator.ComponentsNavigatorSorter"
               id="ac.soton.rms.components.diagram.navigatorSorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="ac.soton.rms.ui.navigator.ComponentsDiagramNavigatorActionProvider"
            id="ac.soton.rms.ui.navigator.actions.diagram">
         <enablement>
            <and>
               <instanceof
                     value="ac.soton.rms.components.diagram.navigator.ComponentsAbstractNavigatorItem">
               </instanceof>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.View">
                  <test
                        property="ac.soton.rms.ui.test.isComponentDiagram">
                  </test>
               </adapt>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ac.soton.rms.ui.navigator.EventBComponentNavigatorActionProvider"
            id="ac.soton.rms.ui.navigator.actions.eventb">
         <enablement>
            <adapt
                  type="org.eclipse.emf.ecore.EObject">
               <instanceof
                     value="ac.soton.rms.components.EventBComponent">
               </instanceof>
            </adapt>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.adapterFactories">
      <factory
            class="ac.soton.rms.components.provider.ComponentsItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ac.soton.rms.ui.test.ComponentsViewPropertyTester"
            id="ac.soton.rms.ui.test.componentsViewPropertyTester"
            namespace="ac.soton.rms.ui.test"
            properties="isComponentDiagram"
            type="org.eclipse.gmf.runtime.notation.View">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="ac.soton.rms.ui.providers.DisplayComponentEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="DisplayComponentEditPart">
         </context>
         <object
               class="ac.soton.rms.components.diagram.edit.parts.DisplayComponentEditPart(ac.soton.rms.components.diagram)"
               id="DisplayComponentEditPart">
         </object>
      </editpolicyProvider>
   </extension>

</plugin>
